<h2>Register as a new citizen</h2>
<div class="row justify-content-center">
    <form novalidate
        (ngSubmit)="registerUser()"
        [formGroup]="registerForm"
        class="col-6">
        <mat-form-field>
            <mat-label for="nameId">User Name *</mat-label>
            <input matInput
                id="nameId"
                type="text"
                placeholder="Username (required)"
                formControlName="name"
                [ngClass]="{ 'is-invalid': (registerForm.get('name').touched || registerForm.get('name').dirty) &&
                                           (registerForm.get('name').errors?.required  ||
                                            registerForm.get('name').errors?.maxlength ||
                                            registerForm.get('name').errors?.pattern )  }" />
            <mat-error *ngIf="registerForm.get('name').touched || registerForm.get('name').dirty">
                <span  *ngIf="registerForm.get('name').errors?.required">
                    Please enter a username.
                </span>
                <span  *ngIf="registerForm.get('name').errors?.maxlength">
                    The username must contain at most 25 characters.
                </span>
                <span  *ngIf="registerForm.get('name').errors?.pattern">
                    The username must only contain alphanumerical characters.
                </span>
            </mat-error>
        </mat-form-field>
        <div formGroupName="passwordGroup">
            <mat-form-field>
                <mat-label for="passwordId">Password *</mat-label>
                <input matInput
                    id="passwordId"
                    type="password"
                    placeholder="Password (required)"
                    formControlName="password"
                    [ngClass]="{ 'is-invalid': (registerForm.get('passwordGroup.password').touched ||
                                                registerForm.get('passwordGroup.password').dirty) &&
                                               (registerForm.get('passwordGroup.password').errors?.required  ||
                                                registerForm.get('passwordGroup.password').errors?.minlength)  }" />
                <mat-error *ngIf="registerForm.get('passwordGroup.password').touched ||
                                registerForm.get('passwordGroup.password').dirty">
                    <span  *ngIf="registerForm.get('passwordGroup.password').errors?.required">
                        Please enter a password.
                    </span>
                    <span  *ngIf="registerForm.get('passwordGroup.password').errors?.minlength">
                        The password must contain at least 4 characters.
                    </span>
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label for="passwordRepeatId">Password confirmation *</mat-label>
                <input matInput
                    id="passwordRepeatId"
                    type="password"
                    placeholder="Password confirmation (required)"
                    formControlName="passwordRepeat"
                    [ngClass]="{ 'is-invalid': (registerForm.get('passwordGroup.passwordRepeat').touched ||
                                                registerForm.get('passwordGroup.passwordRepeat').dirty) &&
                                               (registerForm.get('passwordGroup.passwordRepeat').errors?.required  ||
                                                registerForm.get('passwordGroup').errors?.nomatch)  }" />
                <mat-error>
                    <span  *ngIf="registerForm.get('passwordGroup.passwordRepeat').errors?.required">
                    Please confirm your password.
                    </span>
                    <span  *ngIf="registerForm.get('passwordGroup').errors?.nomatch">
                        The password confirmation and password do not match.
                    </span>
                </mat-error>
            </mat-form-field>
            <mat-error>
                <span  *ngIf="registerForm.get('passwordGroup').errors?.nomatch">
                    The password confirmation and password do not match.
                </span>
            </mat-error>
        </div>
        <mat-form-field>
            <mat-label for="firstnameId">First Name *</mat-label>
            <input matInput
                id="firstnameId"
                type="text"
                placeholder="First name (required)"
                formControlName="firstname"
                [ngClass]="{ 'is-invalid': (registerForm.get('firstname').touched || registerForm.get('firstname').dirty) &&
                                           (registerForm.get('firstname').errors?.required  ||
                                            registerForm.get('firstname').errors?.minlength ||
                                            registerForm.get('firstname').errors?.maxlength)  }" />
            <mat-error *ngIf="registerForm.get('firstname').touched || registerForm.get('firstname').dirty">
                <span  *ngIf="registerForm.get('firstname').errors?.required">
                    Please enter a firstname.
                </span>
                <span  *ngIf="registerForm.get('firstname').errors?.minlength">
                    The firstname must contain at least 2 characters.
                </span>
                <span  *ngIf="registerForm.get('firstname').errors?.maxlength">
                    The firstname must contain at most 25 characters.
                </span>
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label for="lastnameId">Last Name *</mat-label>
            <input matInput
                id="lastnameId"
                type="text"
                placeholder="Last name (required)"
                formControlName="lastname"
                [ngClass]="{ 'is-invalid': (registerForm.get('lastname').touched || registerForm.get('lastname').dirty) &&
                                           (registerForm.get('lastname').errors?.required  ||
                                            registerForm.get('lastname').errors?.minlength ||
                                            registerForm.get('lastname').errors?.maxlength)  }" />
            <mat-error *ngIf="registerForm.get('lastname').touched || registerForm.get('lastname').dirty">
                <span  *ngIf="registerForm.get('lastname').errors?.required">
                    Please enter a lastname.
                </span>
                <span  *ngIf="registerForm.get('lastname').errors?.minlength">
                    The lastname must contain at least 2 characters.
                </span>
                <span  *ngIf="registerForm.get('lastname').errors?.maxlength">
                    The lastname must contain at most 25 characters.
                </span>
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label for="phoneId">Phone</mat-label>
            <input matInput
                id="phoneId"
                type="text"
                placeholder="Phone (optional)"
                formControlName="phone"
                [ngClass]="{ 'is-invalid': (registerForm.get('phone').touched || registerForm.get('phone').dirty) &&
                                           (registerForm.get('phone').errors?.maxlength)  }" />
            <mat-error *ngIf="registerForm.get('phone').touched || registerForm.get('phone').dirty">
                <span  *ngIf="registerForm.get('phone').errors?.maxlength">
                    The phone number must contain at most 20 characters.
                </span>
            </mat-error>
        </mat-form-field>
        <button
            mat-raised-button color="primary"
            type="submit"
            [title]="registerForm.valid ? 'Register' : 'Please complete the registration form'"
            [disabled]="!registerForm.valid">
            Register
        </button>
        <div class="mt-2">
            <a [routerLink]="['/login']">Already have an account? Sign in here.</a>
        </div>
    </form>
</div>
<p style="display: none;">
    Form value: {{ registerForm.value | json }}
    <br>
    Name valid: {{ registerForm.get("name").valid }}
    pw valid: {{ registerForm.get("passwordGroup.password").valid }}
    pwr valid: {{ registerForm.get("passwordGroup.passwordRepeat").valid }}
    pwg valid: {{ registerForm.get("passwordGroup").valid }}
    fn valid: {{ registerForm.get("firstname").valid }}
    ln valid: {{ registerForm.get("lastname").valid }}
    ph valid: {{ registerForm.get("phone").valid }}
    form valid: {{ registerForm.valid }}
</p>