<form novalidate
      [formGroup]="issuesFilterForm">

    <mat-form-field>
        <mat-label for="types">Types</mat-label>
        <mat-select
            id="types"
            [multiple]="true"
            formControlName="issueTypes">
            <mat-option *ngFor="let issueType of issueTypes" [value]="issueType">
                {{ issueType }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label for="states">States</mat-label>
      <mat-select
          id="states"
          [multiple]="true"
          formControlName="issueStates">
          <mat-option *ngFor="let issueState of issueStates" [value]="issueState">
              {{ issueState }}
          </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label for="tags">Tags</mat-label>
      <mat-select
          id="tags"
          [multiple]="true"
          formControlName="tags">
          <mat-option *ngFor="let tag of issueTags" [value]="tag">
              {{ tag }}
          </mat-option>
      </mat-select>
    </mat-form-field>

</form>

<!--<app-filter-form></app-filter-form>-->

<table mat-table [dataSource]="issues" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Creator Column -->
  <ng-container matColumnDef="creator">
    <th mat-header-cell *matHeaderCellDef> Creator </th>
    <td mat-cell *matCellDef="let element"> {{element.creator.name}} </td>
  </ng-container>

  <!-- Type Column -->
  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef> Type </th>
    <td mat-cell *matCellDef="let element"> {{element.issueType.name}} </td>
  </ng-container>

  <!-- State Column -->
  <ng-container matColumnDef="state">
    <th mat-header-cell *matHeaderCellDef> State </th>
    <td mat-cell *matCellDef="let element"> {{element.state}} </td>
  </ng-container>

  <!-- Description Column -->
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> Description </th>
    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
  </ng-container>

  <!-- Assignee Column -->
  <ng-container matColumnDef="assignee">
    <th mat-header-cell *matHeaderCellDef> Assignee </th>
    <td mat-cell *matCellDef="let element"> {{element.assignee ? element.assignee.name : ''}} </td>
  </ng-container>

  <!-- Created at Column -->
  <ng-container matColumnDef="createdAt">
    <th mat-header-cell *matHeaderCellDef> Created at </th>
    <td mat-cell *matCellDef="let element"> {{element.createdAt | date: 'mediumDate'}} </td>
  </ng-container>

  <!-- Updated at Column -->
  <ng-container matColumnDef="updatedAt">
    <th mat-header-cell *matHeaderCellDef> Updated at </th>
    <td mat-cell *matCellDef="let element"> {{element.updatedAt | date: 'mediumDate'}} </td>
  </ng-container>

  <!-- Details button Column -->
  <ng-container matColumnDef="details">
    <th mat-header-cell *matHeaderCellDef> Go to issue details </th>
    <td mat-cell *matCellDef="let element">
      <button
        mat-raised-button color="primary"
        type="button"
        [routerLink]="['/issue', element.id]">
        See details
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<!--
<app-issue-map [mapPoints]="issuePoints"></app-issue-map>
-->
<app-map [mapPoints]="issuePoints" [clickable]="false"></app-map>
