<mat-toolbar color="primary">
    <mat-toolbar-row>
        <!-- <button mat-icon-button>
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
        </button> -->
        <h1>Citizen Engagement</h1>
        <span class="menu-spacer"></span>
        <div>
            <a mat-button [routerLink]="['/register']">Register</a>
            <a mat-button [routerLink]="['/login']">Log in</a>
            <a mat-button [routerLink]="['/issue/new']">Report a new issue</a>
            <a mat-button [routerLink]="['/issues']">See all issues</a>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
