<h2>Login</h2>
<div class="row justify-content-center">
  <form #loginForm="ngForm" (submit)="onSubmit(loginForm)" class="col-6">
      <mat-form-field>
        <mat-label for="name">Name</mat-label>
        <input matInput
          type="text"
          name="name"
          id="name"
          #nameField="ngModel"
          required
          [(ngModel)]="authRequest.name"
        />
        <mat-error *ngIf="nameField.hasError('required') && nameField.touched">
          Name is required
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label for="password">Password</mat-label>
        <input matInput
          type="password"
          name="password"
          id="passwrod"
          #passwordField="ngModel"
          required
          [(ngModel)]="authRequest.password"
        />
        <mat-error *ngIf="passwordField.hasError('required') && passwordField.touched">
          Password is required
        </mat-error>
      </mat-form-field>

      <div class="mt-2">
        <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Log in</button>
        <mat-error *ngIf="loginError">
          Unable to log in. See the log for more information.
        </mat-error>
      </div>
  </form>
</div>